{% load static %}
<!DOCTYPE html>

        <div class="row">
            <h2 class="mb-4" style="text-align: center;">About Us</h2>
            <div>
            <p style="text-align: center;">Welcome to Online H-Mart Shopping Platform, where we strive to provide the best shopping experience for our customers.</p>
            <p style="text-align: center;">Founded in 2024, our mission is to provide all the accessories that an everyone need.</p>
            <p style="text-align: center;">At Online H-Mart Shopping Platform , we believe in giving the needful things. </p>
            <p style="text-align: center;">We are dedicated to bringing you high-quality products with excellent customer service.</p>
            <p style="text-align: center;">Feel free to explore our website and discover a wide range of products that cater to your needs.</p>
            </div>
            
           