{% load static %}
<div class="row  mt-5"> 
    <div class="col-md-4 p-3" style="background-color:white">
       <h5>Address</h5><hr>
       2nd floor ,Landmark Building,<br>
       D_mart,<br>
       Pune-411052,<br>
       Contact:7894561235 
    </div> 
    <div class="col-md-4 p-3" style="background-color:white">
        <h5>Quick links</h5><hr>
        <h5><a class="anchor" href="/product">Home</a></h5>
        <h5><a class="anchor" href="/about">About</a></h5>
        <h5><a class="anchor" href="/contact">Contact</a></h5>
    </div>
    <div class="col-md-4 p-3" style="background-color:white">
        <h5>social media icons</h5><hr>
        <h5><a href="https://www.facebook.com"><i class="bi bi-facebook"></i></a></h5>
        <h5><a href="https://www.instagram.com"><i class="bi bi-instagram"></i></a></h5>
        <h5><a href="https://www.linkedin.com"><i class="bi bi-linkedin"></i></a></h5>
        <h5><a href="https://www.twitter.com"><i class="bi bi-twitter-x"></i></a></h5>
    </div> 
</div> 
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/popper.js' %}"></script>
</body>
</html>