
{% extends "base.html" %}
{% load static %}
{% block 'main' %}
<!--prmz gbed wabp sljt                                                     gmail application password-->   
 <!-- 2nd row start or main section start -->
 <div class="row mt-3" style="font-family: font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;background-color:white">
    <div class="col-md-3 p-3" style="color: black;">
      <h5>Filter By Category</h5><hr>
      <p><a href="/product" class="anchor" style="color:black; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">All</a></p>
      <p><a href="/catfilter/1" class="anchor" style="color:black; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">By Mobile</a></p>
      <p><a href="/catfilter/2" class="anchor" style="color:black; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">By Shoes</a></p>
      <p><a href="/catfilter/3" class="anchor" style="color:black; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">By Cloths</a></p>
      <p><a href="/catfilter/4" class="anchor" style="color:black; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">By Laptops</a></p>
      <p><a href="/catfilter/5" class="anchor" style="color:black; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">By Watches</a></p>
      <p><a href="/catfilter/6" class="anchor" style="color:black; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">By Fridges</a></p>
      <br>
      <h5>Filter By Price</h5>
      <form method="get" action="/pricefilter">
        <div class="mb-2">
          <label for="Input1"
            class="form-label">Min:</label>
          <input type="number" class="form-control"
            id="Input1" name='min'>
        </div>
        <div class="mb-2">
          <label for="Input2"
            class="form-label">Max:</label>
          <input type="number" class="form-control"
            id="Input2" name='max'>
        </div>
        <div class="mb-2">
          <input type="submit" value="find" class="btn btn-danger">
        </div>
      </form>
      <br>
      <h5>Sort By Price</h5>
      <p><a href="/sortfilter/0">Low To High</a></p>
      <p><a href="/sortfilter/1">High To Low</a></p>
    </div> 
    <div class="col-md-9 p-3" style="background: rgb(132,0,255);
    background: linear-gradient(90deg, rgba(132,0,255,1) 35%, rgba(106,252,255,1) 100%);">
      <div class="row">
        {% if errmsg  %}
                <div class="alert alert-danger" role="alert">
                    {{errmsg}}
                  </div>
                
                {% endif %}
            
      {% for i in data %}
        <div class="col-md-3">
          <div class="card" style="width: 100%;">
            <img src="{{i.pimage.url}}" class="card-img-top" alt="..." height="150px">
            <div class="card-body">
              <h5 class="card-title">{{i.name}}</h5>
          <p class="card-text">Price:<b>₹{{i.price}}</b></p>
              <a href="/product_details/{{i.id}}" class="btn btn-primary">See Details</a>
            </div>
          </div>
        </div>
      {% endfor %}
  </div> 
</div>
</div>
{% endblock 'main' %}