{% extends 'base.html' %}
{% block 'main' %}

    <div class="row mt-5">
        <div class="col-md-9 mx-auto">
            <div class="row">
                {% for i in data %}
               <div class="col-md-5">
                    <img src="{{i.pimage.url}}" class="card-img-top" alt="..." height="150px" width="150px">
               </div>
               <div class="col-md-7">
                {% if success %}
                <div class="alert alert-success" role="alert">
                    {{success}}
                  </div>
                {% endif %}

                {% if errmsg  %}
                <div class="alert alert-danger" role="alert">
                    {{errmsg}}
                  </div>
                
                {% endif %}

                   <p><strong>Product Name: </strong>{{i.name}}</p>
                   {% if i.cat == 1 %}
                   <p><strong>Category: </strong>Mobile</p>
                   {% elif i.cat == 2 %}
                   <p><strong>Category: </strong>Shoes</p>
                   {% else %}
                   <p><strong>Category: </strong>Cloth</p>
                   {% endif %}
                   <p><strong>Detail: </strong>{{i.pdetail}}</p>
                   <p><strong>Price: </strong>Rs.{{i.price}}</p>
                   <a href="/addtocart/{{i.id}}"><button class="btn btn-danger">Add To Cart</button></a>
                   <a href="/viewcart"><button class="btn btn-danger">View Cart</button></a>
                   <a href="/product"><button class="btn btn-danger">Shop More</button></a>
               </div>
               {% endfor %}
            </div>
        </div>
    
{% endblock 'main' %}